<!DOCTYPE html>
<html>
    <head>
        <title>Today I</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/6a01d8d805.js" crossorigin="anonymous"></script>
    </head>
    <body>