<!DOCTYPE html>
<html>
    <head>
        <title>Stories App</title>
        <script src="https://kit.fontawesome.com/6a01d8d805.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"> -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
        <div class="container">


            <header class="jumbotron text-center">
                <div class="container im-responsive">
                    <img src="" alt="App Logo">
                    <h3>Cada paso, una historia.</h3>
                    <a href="/posts" class="btn btn-lg btn-light">Entrar</a>
                </div>
            </header>
            </div>
        </div>

    </div>
    
    <!-- <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul> -->

<%- include("partials/footer") %>