<!DOCTYPE html>
<html>
    <head>
        <title>Today I</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/6a01d8d805.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <div>
            <div>
                <h1>TEST</h1>
                <!--Stories Generator-->
                <div id="selectedStory">
                    <h1 id="bodyText"></h1>
                    <h3 id="by"></h3>
                    <h5 id="place"></h5>
                    <h5 id="date"></h5>
                </div>

            <!--Form-->
        <div>
            <div>
                <!--Title-->
                <h1>Shed some light across the world.</h1>
                <p>Share something that you did today, no matter how small, that made you feel a little better.</p>
                    <div>
                    <form action="/stories" method="POST">
                        <div>
                            <input type="text" name="name" placeholder="Your name">
                        </div>
                        <div>
                        <p>Today I...<span class="quotes">"</span></p>
                        <textarea name="bodytext" type="text" rows="2" cols="10" maxlength="140" required></textarea><span class="quotes">"</span>
                        <div>
                            <input type="text" name="place" placeholder="Where are you from?">
                        </div>
                        <div>
                            <button>Share!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="/scripts/storiesgenerator.js" crossorigin="anonymous"></script>
</html>