body {  
    font-family: 'Nunito', sans-serif;
    padding-top: 50px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
.recipes {
    padding-bottom: 100px;
}

.col-md-9 {
    padding: 0;
}

.caption {
    padding: 9px;
}

#form-delete {
    display: inline;
}
#mainNavbar {
    background-color: #f0f0f0;
    color: black;
}

h1, h4 {
    font-weight: 800;
    color: #080808;
}

.jumbotron {
    background-color: transparent;
}

.footer {
    color: white;
    position: fixed;
    bottom: 0;
    text-align:center;
    width: 100%;
    background:#FF933B;
}

#footerTitle {
    margin-top: 10px;
    font-weight: 700;
    color: white;
}

.footerLink {
    color:white;
}

.footerLi {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.i {
    size: 2em;
}

.footerBreak {
    margin-left: 30px;
    margin-right: 30px;
}

.galleryGroup {
    padding-left: 0px;
    padding-right: 0px;
}

.galleryImg {
    width: 980px;
    padding-left: 0px;
    padding-right: 0px;
}

#home-logo {
    width: 600px;
}

#homeQuote {
    padding-top: 100px;
    padding-bottom: 150px;
    text-align: center;
    
}

#quotesMark {
    font-size: 4em;
    color: #FF933B;
    padding-top: 0;
    padding-bottom: 0;
}

#homeQuoteMain {
    color: #FF933B;
    height: 100px;
    font-weight: 700;
    font-size: 1.5em;
}

#quoteAuthor {
    font-size: 0.8em;
    font-style: italic;
}



@media screen and (max-width: 1200px) {

    #home-logo {
        width: 400px;
    }
    

    .galleryImg {
        width: 980px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .i {
        size: 1.5em;
    }

    .footerBreak {
        margin-left: 10px;
        margin-right: 10px;
    }

    #presentationImg {
        display: none;
    }

    #footerTitle {
        font-size: 1em;
    }

    #quoteAuthor {
        padding-top: 30px;
        font-size: 0.8em;
        font-style: italic;
    }
    #homeQuote {
        padding-bottom: 100px;
        font-size: 1em;
        text-align: center;
    }

    h2  {
        padding-top: 50px;
    }
}