body {  
    font-family: 'Nunito', sans-serif;
}

.quotes {
    font-size: 2em;
}

#bodytext {
  font-size: 1.8em;
  line-height: 1.3em;
}

.storyFont1 {
  font-family: 'Architects Daughter', cursive
}
.storyFont2 {
  font-family: 'Homemade Apple', cursive;
}
.storyFont3 {
  font-family: 'East Sea Dokdo', cursive;
}
.storyFont4 {
  font-family: 'Inconsolata', monospace;
}
.storyFont5 {
  font-family: 'Caveat', cursive;
}



#selectedStory {
  margin-top: 200px;
  height: 300px;
  opacity: 0;
}

@keyframes transition {
    0%   {opacity: 0;}
    20%  {opacity: 1;}
    80%  {opacity: 1;}
    100% {opacity: 0;}
}
  
  /* The element to apply the animation to */
  .animatedTransition {
    animation-name: transition;
    animation-duration: 8s;
    animation-iteration-count: infinite;
  }

@media screen and (max-width: 1200px) {
}